/* MEDIA QUERYS */
/* Ipad mini */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #welcome-section {
    padding: 0;
    height: auto;
    gap: 1rem;
  }

  #project-title {
    padding: 0;
    gap: 1rem;
    flex-direction: column;
  }

  #freeCodeCamp:checked ~ #contenedor_projects_freeCodeCamp,
  #nucba:checked ~ #contenedor_projects_nucba,
  #freeCodeCamp:checked ~ #contenedor_projects_one {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* Iphone XR */
@media screen and (min-width: 414px) and (max-width: 896px) {
  h1 {
    font-size: 3.5rem;
  }
}

/* pixel 7 */
@media screen and (min-width: 412px) and (max-width: 915px) {
  h1 {
    font-size: 4rem;
  }
  body {
    padding: 0 0 24rem 0;
  }
}

/* Iphone SE */
@media screen and (min-width: 375px) and (max-width: 667px) {
  .sections {
    padding: 1rem;
  }

  #header {
    display: none;
  }

  #welcome-section {
    height: auto;
    gap: 1rem;
  }
  h1 {
    font-size: 2rem;
    padding: 0;
    text-align: center;
  }

  ##project-title {
    padding: 0;
    gap: 1rem;
    flex-direction: column;
  }

  #contenedor_projects_nucba,
  #contenedor_projects_freeCodeCamp {
    flex-direction: column;
  }
  bio-mensaje {
    font-size: 1.2rem;
  }

  body {
    padding: 0 0 23rem 0;
  }
}
/* Samsungs galaxy s8*/
@media screen and (min-width: 360px) and (max-width: 740px) {
  #header {
    display: none;
  }

  #welcome-section {
    height: auto;
    padding: 1rem;
    gap: 1rem;
  }
  
  h1 {
    padding: 0;
    font-size: 3rem;
  }

  #bio-mensaje {
    font-size: 1.2rem;
    width: 100%;
  }

  #project-title {
    padding: 0;
    gap: 1rem;
    flex-direction: column;
  }

  #contenedor_projects_nucba,
  #contenedor_projects_freeCodeCamp {
    flex-direction: column;
  }
}
