/* MEDIA QUERYS */

@media (max-width: 890px) {
  #container_projects {
    width: 90%;
  }

  #contenido_contacto{
    border-radius: 0;
  }
}

@media (max-width: 385px) {
  #container_projects {
    width: 100%;
  }
}
