/* MEDIA QUERYS */

@media (max-width: 1200px) {
  #contenedor_proyects {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 50px;
  }
}

@media (max-width: 1155px) {
  body {
    padding: 0 0 100px 0;
  }
  #welcome-section {
    margin-top: 7%;
  }

  #content h1 {
    font-size: 4em;
  }
}

@media (max-width: 839px) {
  body {
    padding: 0 0 500px 0;
  }

  #content-navbar {
    width: 100%;
  }

  #open_header {
    font-size: 1.3em;
  }

  #content {
    gap: 10px;
    height: auto;
  }
  #content p {
    font-size: 1.5em;
  }

  #welcome-section {
    margin-top: 20%;
  }
}

@media (max-width: 768px) {
  #navbar {
    gap: 150px;
  }

  #nav-link {
    font-size: 1.2rem;
  }

  #contenedor_proyects {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .project-tile {
    height: auto;
    gap: 30px;
  }

  #contenido_contacto {
    width: 100%;
  }
  #content p {
    font-size: 1.2em;
  }
}

@media (max-width: 725px) {
  #header {
    display: none;
  }

  #header_mobiles {
    left: -10%;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 20%;
    height: 100vh;
    position: fixed;
    transition: 1s all;
    border-radius: 10px;
  }

  #content-navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 45px;
  }

  #open_header {
    font-size: 1em;
    padding: 10px;
    text-align: center;
    background-color: none;
  }

  #welcome-section {
    margin-top: 16%;
  }
}

@media (max-width: 579px) {
  body {
    padding: 0 0 100px 0;
  }

  #content-navbar {
    padding: 85px;
  }

  #welcome-section {
    /* margin-top: 16%; */
    padding: 0;
    justify-content: start;
  }

  #content {
    gap: 20px;
  }
}

@media (max-width: 498px) {
  body {
    padding: 0 0 270px 0;
  }
  #welcome-section {
    margin-top: 25%;
  }

  #contenido_contacto span {
    font-size: 0.9rem;
  }
  #contenido_contacto {
    box-shadow: none;
    border: none;
    background-color: transparent;
    width: auto;
  }

  #mostrar_contenido_contacto,
  #menu_toggle {
    font-size: 2.5em;
  }

  #redes {
    box-shadow: none;
    border: none;
    background-color: transparent;
    width: auto;
  }

  .project-tile a img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 411px) {
  body {
    padding: 0 0 100px 0;
  }
  #navbar {
    gap: 30px;
  }
  #welcome-section h1 {
    font-size: 2rem;
  }

  #welcome-section {
    padding: 10px 0 0 0;
    height: auto;
    margin-top: 25%;
  }
  #bio {
    height: auto;
    pad: 100px 0 0 0;
  }

  #mostrar_contenido_contacto {
    font-size: 1.5em;
  }

  #contenido_contacto {
    padding: 0;
  }
  #content {
    gap: 20px;
  }

  #contenedor_proyects {
    padding: 0;
    flex-direction: column;
  }

  #menu_toggle {
    font-size: 1.5em;
  }

  footer span {
    text-align: center;
  }
}

@media (max-width: 373px) {
  #contenido_contacto {
    padding: 0;
    width: 80%;
  }

  .project-tile a img {
    width: 120px;
    height: 120px;
  }
}
