@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Roboto:ital@1&display=swap");
/* --------------------VARIABLES-------------------*/
:root {
  --linear-gradientoso: linear-gradient(to bottom, var(--color1) 40%, var(--color3) 60%,var(--color5));
  --linear-gradientoso2: linear-gradient(to top, var(--color1) 40%, var(--color3) 60%,var(--color5));
  --gralColor: black;
  --footerColor: linear-gradient(to bottom, #010101), #14e6dd;
  --fontWeb: "Protest Guerrilla", sans-serif;
  --roboto: "Roboto", sans-serif;
  --gral-color-font: white;
  --color1: #123e48;
  --color2: #125258;
  --color3: #127074;
  --color4: #17a39c;
  --color5: #20dbca;
}

/* COLORES */

/* COLORES */

/* --------------------VARIABLES-------------------*/

/* PADDING PARA SECCIONES */
.sections {
  padding: 2rem 0rem;
}
/* PADDING PARA SECCIONES */

*::selection {
  background: gold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid gold; */
}

body {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background: var(--linear-gradientoso);
}

.indicator {
  width: 100%;
  height: 0.8rem;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  background-color: white;
  margin-bottom: 10%;
}

.indicator span {
  width: 0%;
  background-color: gold;
  display: block;
  height: 100%;
  z-index: 2;
}


/* --------------------WELCOME-SECTION-------------------*/

#welcome-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  margin: 5rem auto;
  font-family: var(--fontWeb);
  width: 100%;
  height: 100vh;
  padding: 0 0 10rem 0;
}

#typed-text {
  font-family: var(--fontWeb);
  font-size: 4rem;
  letter-spacing: 2px;
  transition: 2s all;
  border-radius: 10px;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.306);
  writing-mode: 100%;
  margin: 0 auto;
}


#logo {
  width: 6rem;
  border-radius: 5rem;
  box-shadow: 1px 5px 15px;
}

#bio-mensaje {
  font-size: 1.8rem;
  width: 80%;
  color: var(--gral-color-font);
  font-family: var(--roboto);
  font-weight: 700;
  padding: 0 0 15px 0;
  transition: 2s all;
  margin: 0 auto;
  text-align: left;
}

#skills {
  color: white;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
}

#welcome-section span {
  color: var(--color5);
  font-size: 2.5rem;
  /* -webkit-text-stroke: 1px gold; */
}

#icon-skills {
  display: flex;
  gap: 1.5rem;
}

/* --------------------WELCOME-SECTION-------------------*/

/* --------------------BIO-------------------*/
#bio {
  margin: 0 auto;
  font-family: var(--fontWeb);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  transition: 5s all;
}

#mostrar_contenido_contacto {
  font-family: var(--fontWeb);
  font-size: 100px;
  font-size: 50px;
  transition: 0.6s all;
  color: white;
  text-align: center;
  animation: projects-mation 3s;
  padding: 10px;
  cursor: pointer;
}

#contenido_contacto {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 30px;
  gap: 30px;
  border-radius: 5px;
  background: var(--linear-gradientoso2);
  box-shadow: 1px 1px 5px 1px black;
  font-family: var(--roboto);
  color: white;
}

#arrow-down:hover {
  color: white;
  cursor: pointer;
}

#img-perfil {
  width: 8rem;
  border-radius: 50%;
  margin: 0 auto;
  border: 4px solid rgb(255, 217, 0);
  /* box-shadow: 1px 1px 5px 1px white; */
}

.content-contact {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.span-content-contact {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1px;
  display: flex;
  gap: 3rem;
  color: black;
}

#contacto {
  appearance: none;
}

#contacto:checked ~ #contenido_contacto {
  display: grid;
}

#redes {
  border-radius: 5px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

#redes a {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#git {
  padding: 5%;
  width: 120px;
  height: 70px;
}

#lkd {
  width: 70px;
  height: 70px;
}

#git:hover,
#lkd:hover {
  transition: 0.2s all;
  box-shadow: 2px 2px 10px 1px black;
}

/* --------------------BIO-------------------*/

/* --------------------PROJECTS -------------------*/
#projects {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

#project-title {
  font-family: var(--fontWeb);
  font-size: 100px;
  font-size: 50px;
  transition: 0.6s all;
  padding: 10px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}



.project-tile {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-decoration: none;
  font-size: larger;
  color: gold;
  padding: 30px;
  transition: 0.7s all;
  box-shadow: 1px 1px 5px 1px black;
background: var(--linear-gradientoso2);}

#proyect-title {
  text-align: center;
  color: black;
  font-family: var(--roboto);
  background-color: rgba(255, 255, 255, 0.159);
  box-shadow: 1px 1px 5px 2px black;
  border-radius: 5px;
  padding: 1rem;
}

#icons-languages {
  width: 100%;
  /* border: 1px solid white; */
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.project-tile a {
  border: none;
  display: flex;
  transition: 0.4s all;
  box-shadow: none;
}

.project-tile a:hover {
  transition: 0.4s all;
  box-shadow: 1px 1px 5px 2px white;
}

#img-project {
  width: 150px;
  height: 150px;
}

#emoji-animado {
  animation: emoji 1s infinite;
}

@keyframes emoji {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(60%);
  }
}

/* --------------------PROJECTS-------------------*/
/* PROJECTS CHECKEDS */

#freeCodeCamp-label,
#nucba-label,
#one-label {
  cursor: pointer;
  font-size: 3rem;
}

#freeCodeCamp-label:hover,
#nucba-label:hover,
#one-label:hover {
  color: white;
}

#contenedor_projects_freeCodeCamp,
#contenedor_projects_nucba,
#contenedor_projects_one {
  display: none;
  gap: 0.7rem;
}

#freeCodeCamp:checked ~ #contenedor_projects_freeCodeCamp,
#nucba:checked ~ #contenedor_projects_nucba,
#one:checked ~ #contenedor_projects_one {
  display: flex;
}

#nucba,
#freeCodeCamp,
#one {
  appearance: none;
}

/* PROJECTS CHECKEDS */
/* FOOTER */

footer {
  margin: 7% 0 2% 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

footer span {
  letter-spacing: 3px;
  font-family: var(--roboto);
}

/* FOOTER */
